<article class="container">
  <section class="create" >
    <div class="row">
    <div class="mb-3" >
      <div class="col-md-12">
    <h1>Password Change</h1>
    </div>
  </div>
  </div>
    <form>

  <div class="mb-3">

      <label class="col-sm-2 col-form-label">Old Password:</label>

      <input type="text" class="col-sm-3">

</div>

<div class="mb-3">

  <label class="col-sm-2 col-form-label">New Password:</label>

  <input type="text" class="col-sm-3">

</div>


<div class="mb-3">

  <button class="btn btn-primary offset-md-3 col-sm-1">Change</button>

  <!--<button class="btn btn-primary offset-md-1 col-sm-1">Cancel</button>-->

</div>
</form>
  </section>
  </article>

