

<!--<div class="container">--> <!--</div> min-vh-100 d-flex justify-content-center align-items-center">-->
<!--<div class="box">-->

  <div class="mb-3">

    <button type="button" class="btn btn-success col-sm-2" (click)="file.click()">Upload File</button>
    <input type="file" #file placeholder="Choose File" (change)="onFileUpload($event)" style="display:none">


    <!--<input type="text" ngModel="uploadedFilename" class="col-sm-3"
    placeholder="File is not yet selected!" readonly >-->
    <span *ngIf="uploadedFilename">{{uploadedFilename}}</span>
</div>

<!--</div>
</div>-->



<!--<article class="container container-fluid">
  <form>-
<div class="form-group">-->
  <!--<div class="row mt-5">
    <div class="col-md-4">
      <div class="mb-3">-->

        <!--<input type="file" (change)="onFileUpload($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" multiple="false"/>-->
        <!--<div class="d-flex justify-content-center">

      <div>
        <input type="file" #file placeholder="Choose File" (change)="onFileUpload($event)" style="display:none">
        <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
      </div>
      </div>

      <div class="d-flex justify-content-center">-->
      <!--</div>
    </div>
  </div>-->
 <!--</div>-->


<!--<div class="row mt-5">
<div class="col-sm-5">
  <div>
  <label>Month:</label>
  </div>
  </div>

  <div class="col-sm-5">
  <select [(ngModel)]="month">
    <option>--Select--</option>
    <option *ngFor="let month of monthList">
      {{month.Month}}
    </option>
  </select>
</div>-->
<!--</div>
<br>
<br>
<div>
  <label>Year:</label>
  <select [(ngModel)]="year">
    <option>--Select--</option>
    <option *ngFor="let year of yearList">
      {{year.Year}}
    </option>
</select>
</div>

<div>
<button class="btn btn-primary" [disabled]="errorMsg" (click)="OnClick()">Generate Salary Slip</button>
</div>
</div>

</form>
</article>-->
<!--<h2>Excel file selection</h2>-->
